---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: "#{ cloudflare_domain.replace('.', '-') }#-production"
spec:
  dnsNames:
    - "#{ cloudflare_domain }#"
    - "*.#{ cloudflare_domain }#"
  duration: 160h
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  privateKey:
    algorithm: ECDSA
  secretName: "#{ cloudflare_domain.replace('.', '-') }#-production-tls"
  usages:
    - digital signature
