---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argo-system
  annotations:
    argocd.argoproj.io/sync-wave: '0'
spec:
  project: kubernetes
  sources:
    - repoURL: "https://github.com/#{ repository_name }#.git"
      path: kubernetes/apps/monitoring/kube-prometheus-stack
      targetRevision: #{ repository_branch }#
      ref: repo
    - repoURL: ghcr.io/prometheus-community/charts
      chart: kube-prometheus-stack
      targetRevision: 82.4.0
      helm:
        releaseName: kube-prometheus-stack
        valueFiles:
          - $repo/kubernetes/apps/monitoring/kube-prometheus-stack/values.yaml
          - $repo/kubernetes/apps/monitoring/kube-prometheus-stack/values.sops.yaml
  destination:
    name: in-cluster
    namespace: monitoring
  ignoreDifferences:
    - group: admissionregistration.k8s.io
      kind: MutatingWebhookConfiguration
      jqPathExpressions:
        - .webhooks[]?.failurePolicy
    - group: admissionregistration.k8s.io
      kind: ValidatingWebhookConfiguration
      jqPathExpressions:
        - .webhooks[]?.failurePolicy
  syncPolicy:
    automated:
      allowEmpty: true
      prune: true
      selfHeal: true
    retry:
      limit: 1
      backoff:
        duration: 10s
        factor: 2
        maxDuration: 3m
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
      - ServerSideApply=true
      - PruneLast=true
      - RespectIgnoreDifferences=true
