---
csiConfig:
  - clusterID: "a74bdf84-c6e5-4a3c-acf2-6c307f5c15a4"
    monitors:
      - "10.0.70.10:6789"
      - "10.0.70.11:6789"
      - "10.0.70.12:6789"
    adminID: "admin"
    adminKey: "#{ ceph_keyring() }#"

cephFS:
  kernelMountOptions: "ms_mode=prefercrc"

provisioner:
  replicaCount: 3

nodeplugin:
  replicaCount: 3
