route:
  app:
    hostnames: ["echo.#{ cloudflare_domain }#"]
    parentRefs:
      - name: envoy-external
        namespace: network
        sectionName: https
    rules:
      - backendRefs:
        - identifier: app
          port: 8080
